<%= form_with(model: story, local: true) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :story_title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :story_picture, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :story_content, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-default' %>
  </div>
<% end %>
